<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Exam Preparation - Automatic Timer.</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <header>
    <h1> Exam Preparation</h1>
  </header>
  <section id="user-goals">
    <div id="set"v-show="isActive">
      <h2>My Exam Goals</h2>
      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
      </p>
      <label for="">Enter Total Number of Question</label>
      <br>
      <input type="number" placeholder=" Question" v-model="question" />
      <br>
      <label for="">Enter time duration of each Question (in minutes)</label>
      <br>
      <input type="number" placeholder="time" v-model="timer" />
      <br>
      <button @click=addgoal>Add Goal</button>
    </div>
    <p>
    <p v-if="q.length===0">No Goals have been added yet - please start adding some!
      <br>

    </p>
    <ul v-else>
      <button @click=start>{{ starts}}</button>
<header v-show="istimer">
  <h1>
    {{ timestamp}}
  </h1>
</header>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <li v-for="(goal, index) in q" :key="goal" @click="removeGoal(index)">
              <span @click.stop> Question : {{ goal}} </span>


            </li>
          </div>
          <div class="col-6">
            <li v-for="(time, index) in t" :key="time" @click="removeGoal(index)">
              <span @click.stop>Time : {{ time}}</span>

            </li>
          </div>

        </div>
      </div>

      <ul>

      </ul>
    </ul>
    </p>
    <audio ref="audioElm" src="beep.mp3"></audio>
  </section>

  <p>
    <b>
      <center> Made in &#10084;&#65039; with RaKriSi.</center>

    </b>
  </p>

</body>

</html>